html {
  font-size: 62.5%;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 10rem;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  padding: 2rem 7rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 2rem;
  border: 0;
  background-color: rgb(72, 243, 72);
  transition: all 0.3s;
}

.btn:focus {
  background-color: rgb(44, 200, 44);
  transform: scale(1.1);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(44, 200, 44);
  transform: scale(1.1);
  transition: all 0.3s;
}

.score__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
}

.square__container {
  width: 60rem;
  height: 45rem;
  gap: 2rem;
  display: grid;
}

.score {
  margin: 0;
}

.square {
  /* background-color: black; */
  border-radius: 2rem;
}

.square:hover {
  cursor: pointer;
}

footer {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: rgb(44, 200, 44);
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .title {
    margin-top: 1rem;
  }

  .main {
    margin-top: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .btn {
    padding: 2rem 2rem;
  }
  .score__container {
    flex-direction: row;
    align-items: center;
  }
}
